<h1>Mes recettes</h1>
<%= link_to "Voir les recettes par ingrédient choisi", select_recettes_path, class: "lien", style: "color: black;" %>
<ul>
  <% @recettes.each do |recette| %>

      <%= link_to recette.name, recette_path(recette), class: "btn btn-menu" %><br>

  <% end %>
</ul>

<%= link_to "Retour à l'Accueil", root_path, class: "lien", style: "color: black;" %>
<%= link_to "Ajouter une nouvelle recette", new_recette_path(@recette), class: "lien", style: "color: black;" %>
