
  <div class="container1">
    <h1>Bienvenue sur mon site de recettes</h1>
    <div>
      <div class="links-container">
        <%= link_to "Voir toutes les recettes", recettes_path, class: "btn-menu" %>
      </div>
      <div style="padding-top: 20px">
        <%= link_to "En savoir plus", about_path, class: "lien" %>
        <%= link_to "Notre équipe", contact_path, class: "lien" %>
      </div>
    </div>
  </div>
